@model BlackJackMvc.ViewModels.GameViewModel
    
        
    
<div style="color:white;position:relative;left:50px; top:-20px; margin-bottom:35px"><h1><img alt="icon" type="image/x-icon" src="~/images/piggy-bank.png" width="40" height="40"/> @Model.Player.Wallet $</h1></div>
