@{
    ViewData["Title"] = "Black Jack Rules";
}
<h1>@ViewData["Title"]</h1>

<div class="rules">
    <ul class="rules-list">
        <li>In this version of Black Jack your goal is to get a higher score then the dealer</li>
        <li>Before You Start the game, deposit the amount of money you would like to bet, then enter your starting bet and your name</li>
        <li>The player and the dealer each start with 2 cards</li>
        <li>Each card holds their numeric value, except all face cards are 10 and aces can be 11 or 1</li>
        <li>If you would like another card, press the HIT button</li>
        <li>If you are happy with your score, press the STAY button</li>
        <li>The highest score you can achieve is 21 but be careful, if you go over you BUST and the dealer wins</li>
        <li>If the player and the dealer BUST the game results in a draw</li>
        <li>At the start of each round, place a bet to win big!</li>
    </ul>
</div>
